.header-modal {
  pointer-events: none;

  &[aria-hidden="false"] {
    position: fixed;
    top: var(--offset-top, 0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);

    & .header-modal__content {
      @include anim(fade, .3s);

      display: block;
    }
  }

  &__content {
    position: fixed;
    top: var(--offset-top, 0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    overflow: auto;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  @include media-min ($xl) {
    display: none;
  }
}
