.just-burger {
  --burger-animation-time: 0.4s;
  --burger-weight: 3px;
  --burger-color: var(--accent);

  position: relative;
  padding: 0;
  width: 34px;
  height: 39px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &__line {
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    height: var(--burger-weight);
    background-color: var(--burger-color);
    border-radius: 99em;
    transition: all var(--burger-animation-time) ease-in-out;

    &--top {
      top: 20%;
      transform-origin: top right;
    }

    &--middle {
      width: 75%;
      top: calc(50% - var(--burger-weight) / 2);
    }

    &--bottom {
      bottom: 20%;
      transform-origin: bottom right;
    }
  }

  &--open {
    & .just-burger__line {
      right: 12%;
    }

    & .just-burger__line--top {
      transform: rotate(-45deg) translate(0, -80%);
    }

    & .just-burger__line--middle {
      background-color: transparent;
      pointer-events: none;
      transform: translate(-30%, 0);
    }

    & .just-burger__line--bottom {
      transform: rotate(45deg) translate(0, 80%);
    }
  }
}
