.just-burger {
  --burger-animation-time: 0.4s;
  --burger-weight: 2px;

  position: relative;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: var(--burger-weight);
    background-color: var(--burger-color, var(--main-text));
    border-radius: 99em;
    transition: all var(--burger-animation-time) ease-in-out;

    &--top {
      top: 10px;
      transform-origin: top left;
    }

    &--middle {
      width: 75%;
      top: calc(50% - var(--burger-weight) / 2);
    }

    &--bottom {
      bottom: 10px;
      transform-origin: bottom left;
    }
  }

  &--open {
    & .just-burger__line {
      left: 23%;
    }

    & .just-burger__line--top {
      transform: rotate(45deg) translate(-15%, -80%);
    }

    & .just-burger__line--middle {
      background-color: transparent;
      pointer-events: none;
      transform: translate(30%, 0);
    }

    & .just-burger__line--bottom {
      transform: rotate(-45deg) translate(-15%, 80%);
    }
  }
}
