.modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #000000;
  background-color: #FFFFFF;
  min-width: 360px;
  max-width: 768px;

  &__close {
    @include btn-reset;

    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #000000;
  }

  @include media-max(calc(var(--min-site-width) - 1px)) {
    min-width: auto;
  }
}
