.modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: var(--black);
  background-color: var(--white);

  &__close {
    @include btn-reset;

    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--black);
  }
}