:root {
  --white: #FFFFFF;
  --black: #070707;
  --red: #ff2424;
  --blue: #1AA6E2;

  // colors cascade
  --main-text: var(--black);
  --main-bg: var(--white);
  --accent: var(--blue);
  --error: var(--red);
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$main-font: "Open Sans";
$mobile-min-width: 360px;
