.breadcrumbs {
  color: var(--breadcrumbs-text, var(--main-text));
  background-color: transparent;

  & a {
    color: inherit;
    text-decoration-color: transparent;
  }

  @include media-min ($xl) {
    & a {
      transition: color .2s ease-in-out, text-decoration-color .2s ease-in-out;

      &:hover {
        color: var(--accent);
        text-decoration-color: var(--accent);
      }
    }
  }
}
