.form-input {
  font-size: 16px;
  padding: var(--input-offset, var(--input-offset-vertical, 14px) var(--input-offset-horizontal, 18px));
  width: 100%;
  color: var(--main-text, inherit);
  background-color: var(--main-bg, inherit);
  border: 1px solid var(--border, currentColor);
  appearance: none;
  outline: none;

  &.is-invalid {
    border-color: var(--error, #BD0300);
  }

  &--area {
    resize: none;
    height: var(--input-height, 6em);
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px var(--accent);
  }
}

.form-checkbox {
  &>input {
    @include visually-hidden;

    &:focus-visible+span::before {
      box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px var(--accent);
    }

    &:checked+span::before {
      background-color: var(--accent);
      background-image: var(--checbox-ticket, url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2.84555L4.11111 5.9001L9 1.1001' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"));
      border-color: var(--accent);
    }
  }

  &>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex: 0 0 auto;
      background-color: var(--checbox-bg, var(--main-bg, #FFFFFF));
      border: 1px solid var(--border, var(--accent));
      border-radius: 0.25em;
      margin-right: 0.7em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}
