.modal {
  position: relative;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  max-width: 330px;
  color: var(--modal-text, var(--main-text));
  background-color: var(--modal-bg, var(--main-bg));

  &__close {
    @include btn-reset;

    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--modal-icon-size, var(--modal-icon-width, 32px));
    height: var(--smodal-icon-size, var(--modal-icon-height, 32px));
    color: var(--modal-icon-color, currentColor);
  }
}
