.modal {
  position: relative;
  margin: 0 auto;
  padding: 24px;
  width: calc(100% - 30px);
  max-width: 360px;
  color: var(--main-text);
  background-color: var(--main-bg);

  &__close {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}
