.slider {
  --swiper-pagination-bullet-size: 6px;
  --swiper-theme-color: var(--accent);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: #F3F5F6;
  --swiper-preloader-color: var(--accent);

  position: relative;
  overflow: hidden;

  &__wrapper {
    box-sizing: border-box;
  }

  &__pagination {
    text-align: center;
    overflow: hidden;
  }

  & .swiper-pagination-bullet {
    transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  }

  & .swiper-pagination-bullet-active {
    transform: scale(1.4);
  }
}

.slider-controls-btn {
  display: inline-flex;
  border-radius: 50%;
  pointer-events: auto;
  overflow: hidden;
}
