.scroll-top {
  position: fixed;
  bottom: 60px;
  right: max(15px, calc((100% - var(--max-site-width, 1440px) - 100px) / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--duration-default) ease-in-out;
  z-index: 2;

  &--show {
    opacity: 1;
    pointer-events: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--black);
    background-color: var(--white);
    border-radius: 50%;

    & svg {
      width: 50%;
      height: 50%;
    }

    @include any-hover {
      transition: opacity var(--duration-default) ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}