.slider {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &:not(.swiper-initialized) {
    opacity: 0;
  }

  &__wrapper {
    box-sizing: border-box;
  }
}

.slider-controls {
  pointer-events: none;

  &__btn {
    @include btn-reset;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    pointer-events: auto;
  }
}