html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 360px;
  color: var(--black);
  background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent);
  -webkit-tap-highlight-color: transparent;
}
