%primary-font {
  font-family: $primary-font, Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

body {
  @extend %primary-font;

  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration-color: var(--link-line, transparent);
}

.ft-sm {
  font-size: 1.4rem;
}