body {
  font-family: $main-font, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.is-accent {
  color: var(--accent);
}

.lnum {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
}
