html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  font-family: $main-font, Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration-color: var(--link-line, transparent);
}